QRCodeManage/Source/TomNet.Core/Configs/ConfigFile/tomnet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tomnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="contexts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="context">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="initializer">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="createInitializer">
                                  <xs:complexType>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="mapperFiles" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="enabled" type="xs:boolean" use="required" />
                        <xs:attribute name="connectionStringName" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="logging">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry">
                <xs:complexType>
                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                  <xs:attribute name="level" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="basic">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="adapters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="adapter">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>